<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2Nwrw5-U5W2nUAt1scUxzWpV6-0MUIu4</string>
	<key>GCM_SENDER_ID</key>
	<string>500197010265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruvixlabs.babyrelay</string>
	<key>PROJECT_ID</key>
	<string>babyrelay-ruvix</string>
	<key>STORAGE_BUCKET</key>
	<string>babyrelay-ruvix.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500197010265:ios:3e9e3b96b065cb7b287a48</string>
</dict>
</plist>